<div class="form-field-set">
    <div class="form-group">
        <div class="col-md-2">
            <label class="control-label" for="txtSubject">Subject</label>
        </div>
        <div class="col-md-6">
            <input [(ngModel)] ='Note.Subject' name = 'txtSubject' style="width:300px" />
        </div>
    </div><br /><br />
    <div class="form-group">
        <div class="col-md-2">
            <label class="control-label" for="txtBody">Content</label>
        </div>
        <div class="col-md-6">
            <textarea [(ngModel)]="Note.Body" rows=20 cols=50 name="txtBody" > </textarea>
        </div>
    </div>
<div>
<div class="form-group">
    <div class="col-md-offset-0 col-md-8">
        <button (click)='saveNote()' value="Save" class="btn btn-default" >Save</button>
    </div>
</div>